* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    font-family: Garamond, serif !important;
    line-height: 1.2rem !important;
    position: relative;
  }
a{
    transition: all 0.6s ease 0s;
    touch-action: manipulation;
  }

.fa{
    display: inline-flex!important;
}
main{
    margin-left: 3.3rem;
    display: flex;
  flex-direction: column;
  }
.main-header {
    height: 100%;
    background-color:#262626;
    padding: 0.7rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 40rem) {
    .main-header{
        min-width: 20px;
    }
    .home-content{
       top: 3% !important;
       width: 40% !important;
    }
    .home-btn{
        left: 38% !important;
    }
    .contact-item{
        width: 40% !important;
    }
  }
.main-nav {
    display: flex;
    flex-direction: column;
}
.main-nav__socialMedia{
    margin-top: 19rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    
}
.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav__item {
    padding: 0.45rem 0;
}

.main-nav__item a {
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(219, 221, 221);
   
}
.active {
    color:  rgb(48, 215, 191)!important;
}
.main-nav__item a:hover,
.main-nav__item a:active {
    color: rgb(48, 215, 191);
    transition: all 0.3s;
}   

#home{
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
}
.home-img{
    flex-direction: row;
    background: linear-gradient(rgba(44, 50, 55, 0.5), black),
    url('../img/poscon.jpg')center/cover repeat-y;
    
    background-position: 50% 35%;
    top:0px;
    left:0px;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.home-content{
    width: 80%;
    color: rgb(219, 221, 221);
    background: rgba(0, 0, 0, 0.493);
    z-index: 2;
    border-radius: 2px;
    position: absolute;
    margin: 1rem 1rem;
   
}
.home-about{
    padding: 1rem;
}
.home-btn{
    margin-top: 1.1rem;
    position: absolute;
    animation: homepointer 0.3s 2s 8;
}
.home-btn a{
    color: rgb(219, 221, 221);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
}
.home-btn a:hover,
.home-btn a:active{
    color:rgb(48, 215, 191);
}
@keyframes homepointer{
    from{
        
        transform: rotateZ(0)
    }
    to{
        
        transform: rotateZ(10deg);
    }
}

#about{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5%;
    
}
.about-title{
    margin: 0.3rem 0 2rem 0;
    font-weight: bold;
}
.bio{
    text-align: center;
    color: rgb(63, 62, 62);
    letter-spacing: 1.5px;
    line-height: 23.5px;
    
}
.skills-title{
    margin: 4rem 0;
    font-weight: bold;
}
.skills-list{
    width: 80%;
    margin: auto;
}
.skill{
    padding: 1rem;
    display: inline-block;
}
.skill-img{
    width: 100%;
    padding: 5%;
}
    
.skill-img:hover{
    transition: all 1s ease 0s;
    transform: rotateY(360deg);
}
#experience{
    width: 100%;
    height: auto;
    text-align: center;
    background: rgba(48, 215, 191, 0.17);
}
.experience-title{
    margin: 4rem 0;
    font-weight: bold;
}
.works{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.work{
    width: 60%;
    border-bottom: 1px solid grey;
    border-radius: 2px;
    margin:3%;
    padding: 0 0.9rem;
    z-index: 0;
    position: relative;
  }
.work:hover{
    transition: all 0.6s ease 0s;
    transform: scale(1.1);
  }
.work-position{
    padding: 3%;
    font-weight: bold;
    color: #56a8a0;
}
.work-company-name{
    margin: 1rem;
}
.work-company-name a{
    color:rgb(83, 78, 78);
    text-decoration: none;
    font-weight: bold;
}
.work-company-name a:hover,
.work-company-name a:active{
    color:#ffd300;
}
.work-Achievements{
    list-style: none;
}
.Achievement{
    text-align: left;
    line-height: 1.5rem;
    color: #606260;
}
.Achievement i{
    font-size: 13px;
    padding: 5px;
}
#contact{
    height: auto;
    text-align: center;
}
.contact-title{
    margin: 4rem 0;
    font-weight: bold;
}
.contact-items{
    display: flex; 
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;   
    padding: 5%;
}
.contact-item{
    width: 80%;
    border-top: 1px solid #aaa8a1;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
}
.contact-item:hover,
.contact-item:active{
    transition: all 2s ease 0s;
    transform: rotateY(360deg);
}
.contact-item__icon{
    font-size: 3.5rem;
    padding-right: 3rem;
    color: #387b75;
}
.contact-item__info{
    margin-left: 10px;
}
.contact-item__info a{
    text-decoration: none;
    color: black;
}
.contact-item__info a:hover,
.contact-item__info a:active{
    color: rgb(243, 89, 136);
}
.contact-item__name{
    font-size: 1rem;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    color: #387b75;
}
.footer {
    width: 100%;
    background-color:#dadadae6;
    padding: 0.7rem 1rem;
}
.footer-container{
    display: flex;
    justify-content: center;
}
.footer-container a {
    text-decoration: none;
    color: rgb(189, 184, 184);
}
.footer-container a:hover,
.footer-container a:active{
    color: rgb(129, 129, 129);
}